	h1 {
    text-align: center;
  }
.wrap-text {
    padding-left: 20px;
    padding-right: 20px;
        width: 100%;             /* Make the container take up full width */
    max-width: 600px;        /* Set the maximum width to 600px */
    word-wrap: break-word;   /* Allow breaking of long words */
    white-space: normal;     /* Allow text to wrap */
     margin: auto;         /* Adjust the left indentation */        /* Center horizontally */
  }
/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Main Content Styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

section h2 {
    color: #333;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}
